
html {
  font-size: 18px;
}

body {
  font-family: Helvetica, sans-serif;
  color: white;
}

div, header, footer {
  border: 1px solid green;
}

/* common class properties */
.site-container {
  max-width: 960px;
  margin: 0 auto;
}

.text-ucase {
  text-transform: uppercase;
}

/* company header and footer */

header, footer {
  background-color: black;
}

header .site-container, footer .site-container {
  display: flex;
  align-items: center;
  height: 100%;
}

#logo {
  height: 1.5rem;
  padding-left: 0.5rem;
  padding-right: 1rem;
}

#companyName {
  font-size: 1rem;
  padding: 0.66rem 0;
}

footer {
  height: 5rem;
}


/* banner */

#banner {
  background-image: url(../images/moto.jpeg); 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 25rem;
}

#banner .site-container {
  padding-top: 9rem;
}

#feature {
  background-color: black;
  font-weight: bold;
  padding: 2rem 3rem;
  width: 20rem;
}

#feature h4 {
  font-size: 1rem;
}

#feature h1 {
  font-size: 2rem;
  padding-top: 0.25rem;
}

/* navigation */

#navigation {
  background-color: firebrick;
}

#navigation nav {
  padding: 0.75rem 0;
}


#navigation .site-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#navigation a {
  color: white;
  text-decoration: none;
}

#navMenu {
  display: none;
  justify-content: center;
}


/* --- */
/* responsive media queries */
/* --- */

@media only screen and (min-width: 449) and (max-width: 752px) {
 /* tablet portrait viewing */
}
 
@media only screen and (max-width: 448) {
 /* mobile device portrait viewing */
}